                    <% if @reviews.count > 0 %>                        
                        <div id="score_detail">
                            <span><%= @hotel.avg_reviews %></span><%= @hotel.rating_reviews %>
                            <small>(Trên tổng <%= @hotel.get_reviews.count %> lượt đánh giá)</small>
                        </div>
                        <% @reviews.each do |item| %>
                        <div class="review_strip_single">
                            <img src="/frontend/img/avatar3.jpg" alt="Image" class="img-circle">
                            <small>- <%= item.created_at.strftime("%d/%m/%Y") %> -</small>
                            <h4><%= item.first_name+" "+item.last_name %></h4>
                            <p class="text-justify"><%= item.content %></p>
                            <% if !item.rate.nil? %>
                            <div class="rating">
                                <% (1..item.rate).each do |item| %><i class="icon-smile voted"></i><% end %>
                            </div>
                            <% end %>
                        </div>
                        <!-- End review strip -->
                        <% end %>
                        <% if @hotel.get_reviews.count > @reviews.count %>
                            <%= link_to "Xem thêm (" + (@hotel.get_reviews.count - @reviews.count).to_s + " đánh giá)", "", class: "btn_1 green more_reviews_button" %>
                        <% end %>
                    <% else %>
                        <div id="score_detail">
                            <small>Hiện tại chưa có đánh giá nào dành cho khách sạn này.</small>
                        </div>
                    <% end %>
                    
                    