<section class="parallax-window" data-parallax="scroll" data-image-src="/frontend/img/single_hotel_bg_1.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <span class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class=" icon-star-empty"></i></span>
                    <h1><%= "An Hoa Residence - Luxury Villas" %></h1>
                    <span><%= "Thị trấn Long Hải, Bà Riạ - Vũng Tàu, Vũng Tàu" %>.</span>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div id="price_single_main" class="hotel">
                        Giá/đêm <span><%= "1,620,000" %> VNĐ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->

<div id="position">
    <div class="container">
        <ul>
            <li><%= link_to "Trang chủ", naturesoft_hotel_newdiscovery_vn.root_path %></li>
            <li><%= link_to "Danh sách khách sạn", naturesoft_hotels.hotels_grid_path %></li>
            <li><%= "An Hoa Residence - Luxury Villas" %></li>
        </ul>
    </div>
</div>
<!-- End Position -->


<div class="collapse" id="collapseMap">
    <div id="map" class="map"></div>
</div>
<!-- End Map -->

<div class="container margin_60">
    <div class="row">
        <div class="col-md-8" id="single_tour_desc">
            <div id="single_tour_feat">
                <ul>
                    <li><i class="icon_set_2_icon-116"></i>TV truyền hình cáp</li>
                    <li><i class="icon_set_1_icon-86"></i>Wifi miễn phí</li>
                    <li><i class="icon_set_2_icon-110"></i>Hồ bơi</li>
                    <li><i class="icon_set_1_icon-59"></i>Miễn phí ăn sáng</li>
                    <li><i class="icon_set_1_icon-22"></i>Chăm sóc thú cưng</li>
                    <li><i class="icon_set_3_restaurant-10"></i>Tiệc ngoài trời</li>
                    <li><i class="icon_set_1_icon-27"></i>Bãi đổ xe</li>
                </ul>
            </div>
            <p class="visible-sm visible-xs"><a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">View on map</a></p>
            <!-- Map button for tablets/mobiles -->
            <div id="Img_carousel" class="slider-pro">
                <div class="sp-slides">

                    <div class="sp-slide">
                        <img alt="Image" class="sp-image" src="/frontend/css/images/blank.gif" data-src="/frontend/img/slider_single_tour/1_medium.jpg" data-small="/frontend/img/slider_single_tour/1_small.jpg" data-medium="/frontend/img/slider_single_tour/1_medium.jpg" data-large="/frontend/img/slider_single_tour/1_large.jpg" data-retina="/frontend/img/slider_single_tour/1_large.jpg">
                    </div>
                    <% (0..7).each do |item| %>
                    <div class="sp-slide">
                        <img alt="Image" class="sp-image" src="/frontend/css/images/blank.gif" data-src="/frontend/img/slider_single_tour/4_medium.jpg" data-small="/frontend/img/slider_single_tour/4_small.jpg" data-medium="/frontend/img/slider_single_tour/4_medium.jpg" data-large="/frontend/img/slider_single_tour/4_large.jpg" data-retina="/frontend/img/slider_single_tour/4_large.jpg">
                        <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <% end %>
                </div>
                <div class="sp-thumbnails">
                    <img alt="Image" class="sp-thumbnail" src="/frontend/img/slider_single_tour/1_medium.jpg">
                    <img alt="Image" class="sp-thumbnail" src="/frontend/img/slider_single_tour/2_medium.jpg">
                    <img alt="Image" class="sp-thumbnail" src="/frontend/img/slider_single_tour/3_medium.jpg">
                    <img alt="Image" class="sp-thumbnail" src="/frontend/img/slider_single_tour/4_medium.jpg">
                    <img alt="Image" class="sp-thumbnail" src="/frontend/img/slider_single_tour/5_medium.jpg">
                    <img alt="Image" class="sp-thumbnail" src="/frontend/img/slider_single_tour/6_medium.jpg">
                    <img alt="Image" class="sp-thumbnail" src="/frontend/img/slider_single_tour/7_medium.jpg">
                    <img alt="Image" class="sp-thumbnail" src="/frontend/img/slider_single_tour/8_medium.jpg">
                    <img alt="Image" class="sp-thumbnail" src="/frontend/img/slider_single_tour/9_medium.jpg">
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-3">
                    <h3>Mô tả khách sạn</h3>
                </div>
                <div class="col-md-9">
                    <p>
                        Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi. Eu ponderum mediocrem has, vitae adolescens in pro. Mea liber ridens inermis ei, mei legendos vulputate an, labitur tibique te qui.
                    </p>
                    <h4>Tiện nghi - Dịch vụ khách sạn</h4>
                    <p>
                        Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi.
                    </p>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <ul class="list_ok">
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>No scripta electram necessitatibus sit</li>
                                <li>Quidam percipitur instructior an eum</li>
                                <li>Ut est saepe munere ceteros</li>
                                <li>No scripta electram necessitatibus sit</li>
                                <li>Quidam percipitur instructior an eum</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <ul class="list_ok">
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>No scripta electram necessitatibus sit</li>
                                <li>Quidam percipitur instructior an eum</li>
                                <li>Ut est saepe munere ceteros</li>
                                <li>No scripta electram necessitatibus sit</li>
                                <li>Quidam percipitur instructior an eum</li>
                            </ul>
                        </div>
                    </div>
                    <!-- End row  -->
                </div>
                <!-- End col-md-9  -->
            </div>
            <!-- End row  -->

            <hr>

            <div class="row">
                <div class="col-md-3">
                    <h3>Loại phòng</h3>
                </div>
                <div class="col-md-9">
                    <h4>Deluxe Garden</h4>
                    <p>
                        Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi.
                    </p>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <ul class="list_ok">
                                <li>Tivi</li>
                                <li>Dụng cụ pha trà / cafe</li>
                                <li>Quạt trần / Quạt máy</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <ul class="list_ok">
                                <li>Tủ lạnh</li>
                                <li>Điện thoại</li>
                                <li>Máy sấy tóc</li>
                            </ul>
                        </div>
                    </div>
                    <!-- End row  -->
                    <div class="carousel magnific-gallery">
                        <div class="item">
                            <a href="/frontend/img/carousel/1.jpg"><img src="/frontend/img/carousel/1.jpg" alt="Image"></a>
                        </div>
                        <div class="item">
                            <a href="/frontend/img/carousel/2.jpg"><img src="/frontend/img/carousel/2.jpg" alt="Image"></a>
                        </div>
                        <div class="item">
                            <a href="/frontend/img/carousel/3.jpg"><img src="/frontend/img/carousel/3.jpg" alt="Image"></a>
                        </div>
                        <div class="item">
                            <a href="/frontend/img/carousel/4.jpg"><img src="/frontend/img/carousel/4.jpg" alt="Image"></a>
                        </div>
                    </div>
                    <!-- End photo carousel  -->

                    <hr>

                    <h4>Premier Garden (Premier Deluxe Garden View)</h4>
                    <p>
                        Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi.
                    </p>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <ul class="list_ok">
                                <li>Tivi</li>
                                <li>Dụng cụ pha trà / cafe</li>
                                <li>Quạt trần / Quạt máy</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <ul class="list_ok">
                                <li>Tủ lạnh</li>
                                <li>Điện thoại</li>
                                <li>Máy sấy tóc</li>
                            </ul>
                        </div>
                    </div>
                    <!-- End row  -->
                    <div class="carousel magnific-gallery">
                        <div class="item">
                            <a href="/frontend/img/carousel/1.jpg"><img src="/frontend/img/carousel/1.jpg" alt="Image"></a>
                        </div>
                        <div class="item">
                            <a href="/frontend/img/carousel/2.jpg"><img src="/frontend/img/carousel/2.jpg" alt="Image"></a>
                        </div>
                        <div class="item">
                            <a href="/frontend/img/carousel/3.jpg"><img src="/frontend/img/carousel/3.jpg" alt="Image"></a>
                        </div>
                        <div class="item">
                            <a href="/frontend/img/carousel/4.jpg"><img src="/frontend/img/carousel/4.jpg" alt="Image"></a>
                        </div>
                    </div>
                    <!-- End photo carousel  -->
                </div>
                <!-- End col-md-9  -->
            </div>
            <!-- End row  -->

            <hr>
            
            <div class="row">
                <div class="col-md-3">
                    <h3>Quy định</h3>
                </div>
                <div class="col-md-9">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Giờ nhận - trả phòng<i class="indicator icon-plus pull-right"></i></a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body text-justify">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Qui định nhận phòng<i class="indicator icon-plus pull-right"></i></a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body text-justify">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Qui định hủy đổi của khách sạn<i class="indicator icon-plus pull-right"></i></a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body text-justify">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Qui định về trẻ em và giường phụ<i class="indicator icon-plus pull-right"></i></a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body text-justify">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Quy định hủy/đổi dịch vụ<i class="indicator icon-plus pull-right"></i></a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body text-justify">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-9  -->
            </div>
            <!-- End row  -->

            <hr>

            <div class="row">
                <div class="col-md-3">
                    <h3>Đánh giá</h3>
                    <a href="#" class="btn_1 add_bottom_30" data-toggle="modal" data-target="#myReview">Viết đánh giá</a>
                </div>
                <div class="col-md-9">
                    <div id="score_detail"><span>7.5</span>Tốt <small>(Trên tổng 34 lượt đánh giá)</small></div>
                    <% (0..2).each do |item| %>
                    <div class="review_strip_single">
                        <img src="/frontend/img/avatar3.jpg" alt="Image" class="img-circle">
                        <small> - 30/09/2016 -</small>
                        <h4>Nguyễn Ngọc Sơn</h4>
                        <p class="text-justify"><%= "Nội dung đánh giá" %></p>
                        <div class="rating">
                            <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
                        </div>
                    </div>
                    <!-- End review strip -->
                    <% end %>
                    <a href="#" class="btn_1 green">Xem thêm (31)</a>
                </div>
            </div>
        </div>
        <!--End  single_tour_desc-->

        <aside class="col-md-4">
            <p class="hidden-sm hidden-xs">
                <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">Xem trên bản đồ</a>
            </p>
            <div class="box_style_1 expose">
                <h3 class="inner">Đặt phòng</h3>
                <form>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label><i class="icon-user"></i> Họ (*)</label>
                            <input class="form-control" type="text" placeholder="Nhập họ tại đây...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label><i class="icon-user"></i> Tên (*)</label>
                            <input class="form-control" type="text" placeholder="Nhập tên tại đây...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label><i class="icon-email"></i> Email</label>
                            <input class="form-control" type="text" placeholder="Nhập email tại đây...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label><i class="icon-mobile-1"></i> Di động (*)</label>
                            <input class="form-control" type="text" placeholder="Nhập số di động tại đây...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label><i class="icon-phone"></i> Điện thoại bàn</label>
                            <input class="form-control" type="text" placeholder="Nhập số điện thoại bàn tại đây...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label>Loại phòng (*)</label>
                            <select class="form-control" name="cleanliness_review" id="cleanliness_review">
                                <option value="">Chọn loại phòng cần đặt</option>
                                <option value="1">Deluxe Garden</option>
                                <option value="2">Premier Garden (Premier Deluxe Garden View)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label><i class="icon-calendar-7"></i> Ngày nhận phòng (*)</label>
                            <input class="form-control" data-date-format="M d, D" type="text" id="check_in" placeholder="Ngày nhận phòng...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label><i class="icon-calendar-7"></i> Ngày trả phòng (*)</label>
                            <input class="form-control" data-date-format="M d, D" type="text" id="check_out" placeholder="Ngày trả phòng...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Số người lớn (*)</label>
                            <div class="numbers-row">
                                <input type="text" value="1" id="adults" class="qty2 form-control" name="quantity">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Số trẻ em ()</label>
                            <div class="numbers-row">
                                <input type="text" value="0" id="children" class="qty2 form-control" name="quantity">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <textarea name="review_text" id="review_text" class="form-control" style="height:100px" placeholder="Ghi chú thêm..."></textarea>
                        </div>
                    </div>
                </div>
                <br>
                <!--<input type="submit" value="Đặt phòng" class="btn_full">-->
                <%= link_to "Đặt Phòng", "", class: "btn_full" %>
                <%= link_to '<i class=" icon-heart"></i> Yêu thích khách sạn'.html_safe, "", class: "btn_full_outline" %>
                </form>
            </div>
            <!--/box_style_1 -->

            <div class="box_style_4">
                <i class="icon_set_1_icon-57"></i>
                <h4><span>Hotline</span></h4>
                <a href="tel:+84 098 765 4321" class="phone">+84 098 765 4321</a>
                <a href="tel:+84 098 765 4321" class="phone">+84 098 765 4321</a>
                <small>Thứ 2 - Thứ 6 9:00am - 7:30pm</small><br>
                <small>Thứ 7 - Chủ nhật 9:00am - 7:00pm</small>
            </div>

        </aside>
    </div>
    <!--End row -->
</div>
<!--End container -->