<section class="parallax-window" data-parallax="scroll" data-image-src="<% if @detail.get_main_image.present? %><%= @detail.get_main_image.image.detail_bg %><% else %>/frontend/img/single_hotel_bg_1.jpg<% end %>" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <span class="rating"><% (1..@detail.star).each do |item| %><i class="icon-star voted"></i><% end %></span>
                    <h1><%= @detail.name %></h1>
                    <span><%= @detail.address %>.</span>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div id="price_single_main" class="hotel">
                        Giá/đêm <span><%= format_number(@detail.from_per_night) %> VNĐ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->

<div id="position">
    <div class="container">
        <ul>
            <li><%= link_to "Trang chủ", naturesoft_hotel_newdiscovery_vn.root_path %></li>
            <% menu = Naturesoft::Menus::Menu.get_by_type(["hotels::hotels_list", "hotels::hotels_grid"]).first %>
            <% if menu.present? %>
                <li class="active_menu" rel="<%= menu.id %>">
                    <%= link_to menu.name, menu.url %>
                </li>
            <% end %>
            <li><%= @detail.name %></li>
        </ul>
    </div>
</div>
<!-- End Position -->


<div class="collapse" id="collapseMap">
    <div id="map" class="map"></div>
</div>
<!-- End Map -->

<div class="container margin_60">
    <div class="row">
        <div class="col-md-8" id="single_tour_desc">
            <p class="visible-sm visible-xs"><a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">View on map</a></p>
            <!-- Map button for tablets/mobiles -->
            <% if @detail.get_main_image.present? %>
            <div id="Img_carousel" class="slider-pro">
                <div class="sp-slides">
                    <div class="sp-slide">
                        <% if @detail.get_main_image.present? %>
                        <img alt="Image" class="sp-image" src="/frontend/css/images/blank.gif" data-src="<%= @detail.get_main_image.image.detail_slide_medium %>" data-small="<%= @detail.get_main_image.image.detail_slide_small %>" data-medium="<%= @detail.get_main_image.image.detail_slide_medium %>" data-large="<%= @detail.get_main_image.image.detail_slide_large %>" data-retina="<%= @detail.get_main_image.image.detail_slide_large %>">
                        <% end %>
                    </div>
                    <% @detail.get_extra_images.each do |item| %>
                    <div class="sp-slide">
                        <img alt="Image" class="sp-image" src="/frontend/css/images/blank.gif" data-src="<%= item.image.detail_slide_medium %>" data-small="<%= item.image.detail_slide_small %>" data-medium="<%= item.image.detail_slide_medium %>" data-large="<%= item.image.detail_slide_large %>" data-retina="<%= item.image.detail_slide_large %>">
                        <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up"><%= item.title %></p>
                    </div>
                    <% end %>
                </div>
                <div class="sp-thumbnails">
                    <img alt="Image" class="sp-thumbnail" src="<%= @detail.get_main_image.image.detail_slide_medium if @detail.get_main_image.present? %>">
                    <% @detail.get_extra_images.each do |item| %>
                    <img alt="Image" class="sp-thumbnail" src="<%= item.image.detail_slide_medium %>">
                    <% end %>
                </div>
            </div>

            <hr>
            <% end %>
            <div class="row">
                <div class="col-md-3">
                    <h3><strong>Giới thiệu</strong></h3>
                </div>
                <div class="col-md-9">
                    <div class="text-justify"><%= @detail.description.html_safe if !@detail.description.empty? %></div>
                    <h4><strong>Tiện nghi - Dịch vụ khách sạn</strong></h4>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <ul class="list_icons">
                                <% @detail.facilities.each_with_index do |item,index| %>
                                <% if index%2==0 %>
                                <li><i class="<%= item.code %>"></i><%= item.name %></li>
                                <% end %>
                                <% end %>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <ul class="list_icons">
                                <% @detail.facilities.each_with_index do |item,index| %>
                                <% if index%2==1 %>
                                <li><i class="<%= item.code %>"></i><%= item.name %></li>
                                <% end %>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                    <!-- End row  -->
                </div>
                <!-- End col-md-9  -->
            </div>
            <!-- End row  -->

            <hr>
            <% if @detail.events.get_active.count > 0 %>
            <div class="row">
                <div class="col-md-3">
                    <h3><strong>Khuyến mãi</strong></h3>
                </div>
                <div class="col-md-9">
                    <% @detail.events.each do |item| %>
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="event_list_desc">
                                <h4 class="event-title"><strong><%= item.title %></strong></h4>
                                <ul class="add_info">
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="icon_set_1_icon-83"></i></span>
                                            <div class="tooltip-content">
                                                <h4>Thời hạn chương trình</h4>
                                                <%= item.content.html_safe if !item.content.nil? %>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="icon_set_1_icon-23"></i></span>
                                            <div class="tooltip-content">
                                                <h4>Trọn gói bao gồm</h4>
                                                <%= item.content_1.html_safe if !item.content_1.nil? %>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="icon-dollar"></i></span>
                                            <div class="tooltip-content">
                                                <h4>Giá & Loại phòng</h4>
                                                <%= item.content_2.html_safe if !item.content_1.nil? %>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="icon_set_1_icon-51"></i></span>
                                            <div class="tooltip-content">
                                                <h4>Phụ thu</h4>
                                                <%= item.content_3.html_safe if !item.content_1.nil? %>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="icon_set_1_icon-75"></i></span>
                                            <div class="tooltip-content">
                                                <h4>Lưu ý</h4>
                                                <%= item.content_4.html_safe if !item.content_1.nil? %>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="icon_set_1_icon-73"></i></span>
                                            <div class="tooltip-content">
                                                <h4>Hỗ trợ khách hàng</h4>
                                                <i class="icon-phone"></i> 0919 515 059<br>
                                                <i class="icon-phone"></i> 0919 623 535<br>
                                                <i class="icon-email"></i> info@newdiscovery.vn<br>
                                                <i class="icon-email"></i> info@cungmuadulich.net<br>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="price_list event_price_list">
                                <div>
                                    <%= format_number(item.price) %> VNĐ<small>*Giá/Đêm</small>
                                    <p><a href="#" class="btn_1 add_bottom_30 event_order_button" data-toggle="modal" data-target="#myEventOrder" event-id="<%= item.id %>">Đặt phòng</a></p>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <% end %>
                    <%= render "/modules/hotel_event_order" %>
                </div>
                <!-- End col-md-9  -->
            </div>
            <!-- End row  -->

            <hr>
            <% end %>
            <div class="row">
                <div class="col-md-3">
                    <h3><strong>Loại phòng</strong></h3>
                </div>
                <div class="col-md-9">
                    <% @detail.rooms.each do |item| %>
                    <h4><strong><%= item.name %></strong></h4>
                    <h5><span><%= format_number(item.price) %> VNĐ</span> / <%= item.time_line %></h5>
                    <div class="text-justify"><%= item.description.html_safe if !item.description.empty? %></div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <ul class="list_icons">
                                <% item.services.each_with_index do |service,index| %>
                                <% if index%2==0 %>
                                <li><i class="<%= service.code %>"></i><%= service.name %></li>
                                <% end %>
                                <% end %>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <ul class="list_icons">
                                <% item.services.each_with_index do |service,index| %>
                                <% if index%2==1 %>
                                <li><i class="<%= service.code %>"></i><%= service.name %></li>
                                <% end %>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                    <!-- End row  -->
                    <div class="carousel magnific-gallery">
                        <% item.room_images.each do |room_image| %>
                        <div class="item">
                            <%= link_to image_tag(room_image.image.large, alt: item.name), room_image.image.larger.to_s %>
                        </div>
                        <% end %>
                    </div>
                    <!-- End photo carousel  -->
                    <hr>
                    <% end %>
                </div>
                <!-- End col-md-9  -->
            </div>
            <!-- End row  -->

            <hr>
            
            <div class="row">
                <div class="col-md-3">
                    <h3><strong>Quy định</strong></h3>
                </div>
                <div class="col-md-9">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Giờ nhận - trả phòng<i class="indicator icon-plus pull-right"></i></a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body text-justify">
                                    <%= @detail.terms_1.html_safe if !@detail.terms_1.empty? %>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Quy định nhận phòng<i class="indicator icon-plus pull-right"></i></a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body text-justify">
                                    <%= @detail.terms_2.html_safe if !@detail.terms_2.empty? %>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Quy định hủy đổi của khách sạn<i class="indicator icon-plus pull-right"></i></a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body text-justify">
                                    <%= @detail.terms_3.html_safe if !@detail.terms_3.empty? %>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Quy định về trẻ em và giường phụ<i class="indicator icon-plus pull-right"></i></a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body text-justify">
                                    <%= @detail.terms_4.html_safe if !@detail.terms_4.empty? %>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Quy định hủy/đổi dịch vụ<i class="indicator icon-plus pull-right"></i></a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body text-justify">
                                    <%= @detail.terms_5.html_safe if !@detail.terms_5.empty? %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-9  -->
            </div>
            <!-- End row  -->

            <hr>

            <div class="row">
                <div class="col-md-3">
                    <h3>Đánh giá</h3>
                    <% if current_user.present? %>
                    <a href="#" class="btn_1 add_bottom_30" data-toggle="modal" data-target="#myReview">Viết đánh giá</a>
                    <% else %>
                    <a href="#" class="btn_1 add_bottom_30" data-toggle="modal" data-target="#myWarning">Viết đánh giá</a>
                    <% end %>
                </div>
                <div class="col-md-9 reviews-list-outer">                    
                    <div class="hotel-reviews-list" hotel-id="<%= @detail.id %>" data-url="<%= naturesoft_hotels.hotel_reviews_list_path(@detail.id) %>">
                    </div>                    
                </div>
            </div>
        </div>
        <!--End  single_tour_desc-->

        <aside class="col-md-4">
            <p class="hidden-sm hidden-xs">
                <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">Xem trên bản đồ</a>
            </p>
            <div class="box_style_1 margin_30 expose expose-order">
                <h3 class="inner">Đặt phòng</h3>
                <%= form_for @order, html: {class: "order_validate ajax_form_alert"} do |f| %>
                <% if current_user.present? %><%= f.hidden_field :user_id, value: current_user.id %><% end %>
                <%= f.hidden_field :hotel_id, value: @detail.id %>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label><i class="icon-user"></i> Họ (*)</label>
                            <%= f.text_field :first_name,
                                class: "form-control required",
                                keep: (current_user.first_name if current_user.present?),
                                value: (current_user.first_name if current_user.present?),
                                placeholder: "Nhập họ tại đây..."
                            %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label><i class="icon-user"></i> Tên (*)</label>
                            <%= f.text_field :last_name,
                                class: "form-control required",
                                keep: (current_user.last_name if current_user.present?),
                                value: (current_user.last_name if current_user.present?),
                                placeholder: "Nhập tên tại đây..."
                            %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label><i class="icon-email"></i> Email (*)</label>
                            <%= f.text_field :email,
                                class: "form-control required",
                                keep: (current_user.email if current_user.present?),
                                value: (current_user.email if current_user.present?),
                                placeholder: "Nhập email tại đây..."
                            %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label><i class="icon-mobile-1"></i> Di động (*)</label>
                            <%= f.text_field :phone,
                                class: "form-control required",
                                keep: (current_user.phone if current_user.present?),
                                value: (current_user.phone if current_user.present?),
                                placeholder: "Nhập số di động tại đây..."
                            %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label><i class="icon-phone"></i> Điện thoại bàn</label>
                            <%= f.text_field :tel, class: "form-control", placeholder: "Nhập số điện thoại bàn tại đây..." %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label>Loại phòng (*)</label>
                            <select class="form-control required" name="order[room_id]" id="room_id">
                                <option value="">Chọn loại phòng cần đặt</option>
                                <% @detail.rooms.each do |item| %>
                                <option value="<%= item.id %>"><%= item.name %></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label>Số phòng (*)</label>
                            <select class="form-control required" name="order[number]" id="order_number">
                                <option value="">Chọn số lượng phòng</option>
                                <% (0..19).each_with_index do |item,index| %>
                                <option value="<%= index+1 %>"><%= index+1 %></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label><i class="icon-calendar-7"></i> Ngày nhận phòng (*)</label>
                            <input class="form-control required" data-date-format="dd/mm/yyyy" name="order[checkin]" type="text" id="check_in" placeholder="Ngày nhận phòng...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label><i class="icon-calendar-7"></i> Ngày trả phòng (*)</label>
                            <input class="form-control required" data-date-format="dd/mm/yyyy" name="order[checkout]" type="text" id="check_out" placeholder="Ngày trả phòng...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Số người lớn (*)</label>
                            <div class="numbers-row">
                                <input type="text" value="1" id="adults" class="qty2 form-control required" name="order[adult]">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Số trẻ em (*)</label>
                            <div class="numbers-row">
                                <input type="text" value="0" id="children" class="qty2 form-control required" name="order[child]">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <textarea name="order[note]" id="order_note" class="form-control" style="height:100px" placeholder="Ghi chú thêm..."></textarea>
                        </div>
                    </div>
                </div>
                <br>
                <input type="button" keep="Đặt phòng" value="Đặt phòng" class="btn_full submit">
                <% end %>
            
                <% if current_user.present? %>
                    <% if Naturesoft::Hotels::WishList.check_present(@detail.id, current_user).count == 0 %>
                    <%= link_to '<i class="icon-heart"></i> Yêu thích khách sạn'.html_safe, naturesoft_hotels.add_item_wish_lists_path(hotel_id: @detail.id, user_id: current_user.id), class: "btn_full_outline" %>
                    <% else %>
                    <%= link_to '<i class="icon-heart"></i> Đã yêu thích khách sạn'.html_safe, "javascript:void(0);", class: "btn_full_outline detail-hotel-loved" %>
                    <% end %>
                <% else %>
                    <a href="#" class="btn_full_outline" data-toggle="modal" data-target="#myWishList"><i class="icon-heart"></i> Yêu thích khách sạn</a>
                <% end %>
            </div>
            <!--/box_style_1 -->

            <div class="box_style_4">
                <%= position("hotel_newdiscovery_vn::hotline-module") %>
            </div>

        </aside>
    </div>
    <!--End row -->
</div>
<!--End container -->