<section class="parallax-window" data-parallax="scroll" data-image-src="<%= @current_menu.image.default.present? ? @current_menu.image.default : nil %>" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1><%= @current_menu.name %></h1>
            <p><%= @current_menu.description %></p>
        </div>
    </div>
</section>
<!-- End section -->

<div id="position">
    <div class="container">
        <ul>
            <li><%= link_to "Trang Chủ", naturesoft_hotel_newdiscovery_vn.root_path %></li>
            <li><%= @current_menu.name %></li>
        </ul>
    </div>
</div>
<!-- Position -->

<div class="container margin_60">

    <div class="row">
        <aside class="col-lg-3 col-md-3">
            <%= render "/modules/hotel_sidebar" %>
        </aside>
        <!--End aside -->

        <div class="col-lg-9 col-md-9">

            <div id="tools">
                <%= render "/modules/hotels_sort_tools" %>
            </div>
            <!--/tools -->
            
            <% (0..6).each do |item| %>
            <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="wishlist">
                            <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Yêu thích khách sạn</span></span></a>
                        </div>
                        <div class="img_list">
                            <a href="<%= naturesoft_hotels.hotel_detail_path %>">
                                <div class="ribbon popular"></div><img src="/frontend/img/hotel_1.jpg" alt="Image">
                                <div class="short_info"></div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="tour_list_desc">
                            <div class="score">Tuyệt vời<span>9.0</span></div>
                            <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i></div>
                            <h3><strong><%= link_to "Tên khách sạn", naturesoft_hotels.hotel_detail_path %></strong></h3>
                            <p class="text-justify">Mô tả ngắn cho khách sạn...</p>
                            <ul class="add_info">
                                <li>
                                    <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Wifi miễn phí"><i class="icon_set_1_icon-86"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="TV truyền hình cáp"><i class="icon_set_2_icon-116"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Hồ bơi"><i class="icon_set_2_icon-110"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Phòng tập Gym"><i class="icon_set_2_icon-117"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Nhà hàng"><i class="icon_set_1_icon-58"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="price_list">
                            <div>10,000,000 VNĐ<span class="normal_price_list">12,000,000 VNĐ</span><small>*Giá/Đêm</small>
                                <p><%= link_to "Chi tiết", naturesoft_hotels.hotel_detail_path, class: "btn_1" %></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End strip -->
            <% end %>

            <hr>

            <div class="text-center">
                <ul class="pagination">
                    <li><a href="">Trang trước</a></li>
                    <li class="active"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">Trang sau</a></li>
                </ul>
            </div>
            <!-- end pagination-->

        </div>
        <!-- End col lg-9 -->
    </div>
    <!-- End row -->
</div>
<!-- End container -->