<section class="parallax-window" data-parallax="scroll" data-image-src="<%= @current_menu.image.default.present? ? @current_menu.image.default : nil %>" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1><%= @current_menu.name %></h1>
            <p><%= @current_menu.description %></p>
        </div>
    </div>
</section>
<!-- End section -->

<div id="position">
    <div class="container">
        <ul>
            <li><%= link_to "Trang Chủ", naturesoft_hotel_newdiscovery_vn.root_path %></li>
            <li><%= @current_menu.name %></li>
        </ul>
    </div>
</div>
<!-- Position -->

<div class="container margin_60">
    <div class="row">
        <aside class="col-lg-3 col-md-3">
            <div id="search_results">5 khách sạn được tìm thấy</div>
            <%= render "/modules/hotel_sidebar" %>
        </aside>
        <!--End aside -->

        <div class="col-lg-9 col-md-8">
            <div id="tools">
                <%= render "/modules/hotels_sort_tools" %>
            </div>
            <!--End tools -->
            
            <div class="row">
                <% (0..9).each_with_index do |item,index| %>
                <div class="col-md-6 col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                    <div class="hotel_container">
                        <div class="img_container">
                            <a href="<%= naturesoft_hotels.hotel_detail_path %>">
                                <%= image_tag("/frontend/img/hotel_1.jpg", size: "800x533", alt: "", class: "img-responsive") %>
                                <div class="ribbon top_rated"></div>
                                <div class="score"><span>7.5</span>Tốt</div>
                                <div class="short_info hotel">
                                    Giá/Đêm<span class="price">10,000,000 VNĐ</span>
                                </div>
                            </a>
                        </div>
                        <div class="hotel_title">
                            <h3><strong><%= link_to "Tên khách sạn", naturesoft_hotels.hotel_detail_path %></strong></h3>
                            <div class="rating">
                                <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
                            </div>
                            <!-- end rating -->
                            <div class="wishlist">
                                <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span class="tooltip-back">Yêu thích khách sạn</span></span></a>
                            </div>
                            <!-- End wish list-->
                        </div>
                    </div>
                    <!-- End box tour -->
                </div>
                <!-- End col-md-6 -->
                <%= '</div><!-- End row --><div class="row">'.html_safe if index%2 == 1 %>
                <% end %>
            </div>
            <!-- End row -->

            <hr>

            <div class="text-center">
                <ul class="pagination">
                    <li><a href="">Trang trước</a></li>
                    <li class="active"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">Trang sau</a></li>
                </ul>
            </div>
            <!-- end pagination-->

        </div>
        <!-- End col lg 9 -->
    </div>
    <!-- End row -->
</div>
<!-- End container -->