<section class="parallax-window" data-parallax="scroll" data-image-src="<%= !@current_menu.nil? ? @current_menu.image.default : nil %>" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1><%= @current_menu.name %></h1>
            <p><%= @current_menu.description %></p>
        </div>
    </div>
</section>
<!-- End section -->

<div id="position">
    <div class="container">
        <ul>
            <li><%= link_to "Trang Chủ", naturesoft_hotel_newdiscovery_vn.root_path %></li>
            <li><%= @current_menu.name %></li>
        </ul>
    </div>
</div>
<!-- Position -->

<div class="container margin_60">
    <div class="row">
        <aside class="col-lg-3 col-md-3">
            <%= render "/modules/hotel_sidebar" %>
        </aside>
        <!--End aside -->

        <div class="col-lg-9 col-md-9">
            <div id="tools">
                <div class="row">
                    <%= render "/modules/hotel_sort" %>
                    <div class="col-md-6 col-sm-6 hidden-xs text-right">
                        <a class="bt_filters style-change-button active" href="#change_style" rel="grid"><i class="icon-th"></i></a>
                        <a class="bt_filters style-change-button" href="#change_style" rel="list"><i class=" icon-list"></i></a>
                    </div>
                </div>
            </div>
            <!--End tools -->
            
            <div class="hotel-list-container">
                
                <% if params[:style] == "list" %>
                    <%= render "list", hotels: @hotels %>
                <% else %>
                    <%= render "grid", hotels: @hotels %>
                <% end %>
                
                
                <hr />
                
                <div class="text-center">
                    <%= will_paginate @hotels, previous_label: 'Trang trước', next_label: 'Trang sau', renderer: BootstrapPagination::Rails %>
                </div>
                <!-- end pagination-->
            </div>
            

        </div>
        <!-- End col lg 9 -->
    </div>
    <!-- End row -->
</div>
<!-- End container -->