<section class="parallax-window" data-parallax="scroll" data-image-src="<%= !@current_menu.nil? ? @current_menu.image.default : nil %>" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1><%= @current_menu.name %></h1>
            <p><%= @current_menu.description %></p>
        </div>
    </div>
</section>
<!-- End section -->

<div id="position">
    <div class="container">
        <ul>
            <li><%= link_to "Trang Chủ", naturesoft_hotel_newdiscovery_vn.root_path %></li>
            <li><%= @current_menu.name %></li>
        </ul>
    </div>
</div>
<!-- Position -->

<div class="container margin_60">
    <div class="row">
        <aside class="col-lg-3 col-md-3">
            <div id="search_results">5 khách sạn được tìm thấy</div>
            <%= render "/modules/hotel_sidebar" %>
        </aside>
        <!--End aside -->

        <div class="col-lg-9 col-md-8">
            <div id="tools">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="styled-select-filters">
                            <select name="sort_price" id="sort_price">
                                    <option value="" selected>Sắp xếp theo giá</option>
                                    <option value="lower">Giá từ cao đến thấp</option>
                                    <option value="higher">Giá từ thấp đến cao</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="styled-select-filters">
                            <select name="sort_rating" id="sort_rating">
                                <option value="" selected>Sắp xếp theo đánh giá</option>
                                <option value="lower">Điểm từ cao - thấp</option>
                                <option value="higher">Điểm từ thấp - cao</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 hidden-xs text-right">
                            <a class="bt_filters"><i class="icon-th"></i></a>
                            <a href="<%= naturesoft_hotels.hotels_list_path %>" class="bt_filters"><i class=" icon-list"></i></a>
                    </div>
                </div>
            </div>
            <!--End tools -->
            
            <div class="row">
                <% @hotels.each_with_index do |item,index| %>
                <div class="col-md-6 col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                    <div class="hotel_container">
                        <div class="img_container">
                            <a href="<%= naturesoft_hotels.hotel_detail_path(hotel_id: item.id) %>">
                                <% if item.hotel_images.count > 0 %>
                                    <%= image_tag(item.get_main_image.image.larger, size: "800x533", alt: "", class: "img-responsive") %>
                                <% else %>
                                    <%= image_tag("/frontend/img/no-img.png", size: "800x533", alt: "", class: "img-responsive") %>
                                <% end %>
                                <div class="ribbon top_rated"></div>
                                <div class="score"><span>7.5</span>Tốt</div>
                                <div class="short_info hotel">
                                    Giá/Đêm<span class="price"><%= format_number(item.from_per_night) %> VNĐ</span>
                                </div>
                            </a>
                        </div>
                        <div class="hotel_title">
                            <h3><strong><%= link_to item.name, naturesoft_hotels.hotel_detail_path(hotel_id: item.id) %></strong></h3>
                            <div class="rating">
                                <% (1..item.star).each do |item| %><i class="icon-star voted"></i><% end %>
                            </div>
                            <!-- end rating -->
                            <div class="wishlist">
                                <% if current_user.present? %>
                                <%= link_to '+<span class="tooltip-content-flip"><span class="tooltip-back">Yêu thích khách sạn</span></span>'.html_safe, naturesoft_hotels.add_item_wish_lists_path(hotel_id: item.id, user_id: current_user.id), class: "tooltip_flip tooltip-effect-1" %>
                                <% else %>
                                <%= link_to '+<span class="tooltip-content-flip"><span class="tooltip-back">Vui lòng đăng nhập</span></span>'.html_safe, "#login", class: "tooltip_flip tooltip-effect-1" %>
                                <% end %>
                            </div>
                            <!-- End wish list-->
                        </div>
                    </div>
                    <!-- End box tour -->
                </div>
                <!-- End col-md-6 -->
                <%= '</div><!-- End row --><div class="row">'.html_safe if index%2 == 1 %>
                <% end %>
            </div>
            <!-- End row -->

            <hr>

            <div class="text-center">
                <ul class="pagination">
                    <li><a href="">Trang trước</a></li>
                    <li class="active"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">Trang sau</a></li>
                </ul>
            </div>
            <!-- end pagination-->

        </div>
        <!-- End col lg 9 -->
    </div>
    <!-- End row -->
</div>
<!-- End container -->