<!--<li><%= link_to "Trang Chủ", naturesoft_hotel_newdiscovery_vn.root_path %></li>
<li><%= link_to "Về Chúng Tôi", naturesoft_hotel_newdiscovery_vn.about_us_path %></li>
<li><%= link_to "Khách Sạn", naturesoft_hotels.hotels_grid_path %></li>
<li><%= link_to "Khuyến Mãi", naturesoft_hotels.events_hotel_listing_path %></li>
<li><%= link_to "Blog Du Lịch", naturesoft_articles.listing_path %></li>
<li><%= link_to "Liên Hệ", naturesoft_contacts.contacts_path %></li>-->
<% menus.order("custom_order").each do |item| %>
    <li><%= link_to item.name, item.url %></li>
<% end %>