<% menus.order("custom_order").each do |item| %>
    <li id="main_menu_<%= item.id %>" class="<%= 'active' if @current_menu.present? and @current_menu.id == item.id %>"><%= link_to item.name, item.url %></li>
<% end %>
<% if current_user.present? %>
<li><%= link_to current_user.display_name, naturesoft.admin_area_path, class: "quick-option-mobile" %></li>
<li>
<%= form_for current_user, :url => naturesoft.destroy_user_session_path, method: "DELETE" do |f| %>
    <%= link_to "Đăng xuất", "#signpout", method: :delete, redirect_to: naturesoft.login_path, "onclick" => "$(this).parents('form').submit()", class: "quick-option-mobile" %>
<% end %>
</li>
<% else %>
<li><%= link_to "Đăng nhập", naturesoft.login_path, class: "quick-option-mobile" %></li>
<li><%= link_to "Đăng ký", naturesoft.register_path, class: "quick-option-mobile" %></li>
<% end %>
<li><a href="#" class="quick-option-mobile" data-toggle="modal" data-target="#quickRegister">Đặt phòng nhanh</a></li>