<div class="main_title">
    <h2><%= nsmodule.name.html_safe %></h2>
    <p><%= options["description"] %></p>
</div>

<div class="row">
    <% areas.each do |item| %>
        <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <div class="tour_container">
                <div class="img_container">
                    <a href="<%= menus.url + "?area_id=" + item.id.to_s %>">
                    <% if item.image.present? %>
                    <%= image_tag(item.image.big, alt: "", class: "img-responsive") %>
                    <% else %>
                    <%= image_tag("/frontend/img/no-img.png", alt: "", class: "img-responsive") %>
                    <% end %>
                    </a>
                    <div class="short_info">
                        <i class="icon_set_1_icon-6"></i>Khách Sạn<span class="price">(Có <%= item.hotels.count %> khách sạn)</span>
                    </div>
                    <div class="ribbon_3 top-area"><span>Top điểm đến</span></div>
                </div>
                <div class="tour_title">
                    <h3><strong><%= link_to item.name, menus.url + "?area_id=" + item.id.to_s %></strong></h3>
                </div>
            </div>
            <!-- End box tour -->
        </div>
        <!-- End col-md-4 -->
    <% end %>
</div>