<div class="row">
  <div class="col-md-6">
    <div class="form-group">
        <label class="control-label" ><%= t(:style) %> <span class='text-danger'>*</span></label>
        <select class="select2" name="options[style]">
            <option <%= "selected" if options["style"] == "default" %> value="default">default</option>
        </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
        <label class="control-label" ><%= t(:menu_id) %> <span class='text-danger'>*</span></label>
        <div class="">
            <% menu = Naturesoft::Menus::Menu.where(id: options["menu_id"]).first %>
            <% selected = options_for_select([[menu.name,menu.id]], menu.id) if !menu.nil? %>
            <%= select_tag("options[menu_id]",
              selected,
              {
                class: "select2-ajax required",
                include_blank: "none",
                "data-url": naturesoft_menus.select2_backend_menus_path(parent_id: "all"),
              }
            ) %>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
        <label class="control-label" ><%= t(:areas) %> <span class='text-danger'>*</span></label>
        <div class="">
            <% areas = Naturesoft::Areas::Area.where(id: options["areas"]) %>
            <% selected = options_for_select((areas.map {|c| [c.name, c.id]}), options["areas"]) if !areas.nil? %>
            <%= select_tag("options[areas][]",
              selected,
              {
                class: "select2-ajax required",
                include_blank: "none",
                multiple: "multiple",
                "data-url": naturesoft_areas.select2_backend_areas_path,
              }
            ) %>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
        <label class="control-label" ><%= t(:description) %> </label>
        <div class="">
          <%= text_area_tag "options[description]", options["description"], class: "form-control" %>
        </div>
    </div>
  </div>
</div>