<div class="row">
  <div class="col-md-6">
    <div class="form-group">
        <label class="control-label" ><%= t(:contact) %> <span class='text-danger'>*</span></label>
        <div class="">
            <% contact = Naturesoft::Contacts::Contact.where(id: options["id"]).first %>
            <% selected = options_for_select([[contact.display_contact_name,contact.id]],contact.id) if !contact.nil? %>
            <%= select_tag("options[id]",
              selected,
              {
                class: "select2-ajax required",
                include_blank: "none",
                "data-url": naturesoft_contacts.select2_admin_contacts_path,
              }
            ) %>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
        <label class="control-label" ><%= t(:style) %> <span class='text-danger'>*</span></label>
        <div class="">
            <select class="select2" name="options[style]">
                <option <%= "selected" if options["style"] == "default" %> value="default">default</option>
                <option <%= "selected" if options["style"] == "top_line" %> value="top_line">top_line</option>
                <option <%= "selected" if options["style"] == "hotline" %> value="hotline">hotline</option>
            </select>
        </div>
    </div>
  </div>  
</div>