<section class="parallax-window" data-parallax="scroll" data-image-src="/frontend/img/admin_top.jpg" data-natural-width="1400" data-natural-height="470">
<div class="parallax-content-1">
    <div class="animated fadeInDown">
        <h1>Welcome, <%= current_user.display_name %></h1>
        <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
    </div>
</div>
</section>
<!-- End section -->

<div id="position">
<div class="container">
    <ul>
        <li><%= link_to "Trang Chủ", naturesoft_hotel_newdiscovery_vn.root_path %></li>
        <li>Tài khoản thành viên</li>
    </ul>
</div>
</div>
<!-- End Position -->

<div class="margin_60 container">
<div id="" class="tabs">
    <%= render '/modules/nav_tabs_admin_area' %>
    <div class="content">
      
        <section id="section-1" class="content-current">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <h4>Thông tin của bạn</h4>
                    <ul id="profile_summary">
                        <li>Email <span><a href="mailto:<%= current_user.email %>"></a><%= current_user.email %></span></li>
                        <li>Họ <span><%= current_user.first_name %></span></li>
                        <li>Tên <span><%= current_user.last_name %></span></li>
                        <li>Số điện thoại <span><%= current_user.phone %></span></li>
                        <li>Ngày sinh <span><%= current_user.birthdate.strftime("%d/%m/%Y") if !current_user.birthdate.nil? %></span></li>
                        <li>Địa chỉ <span><%= current_user.address %></span></li>
                        <li>Mã Zip <span><%= current_user.zip %></span></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <img src="<%= user_image_src(current_user.image.profile) %>" alt="Image" class="img-responsive styled profile_pic">
                    </p>
                </div>
            </div>
            <!-- End row -->

            <div class="divider"></div>

            <%= form_for(:user, url: admin_area_path, html: {class: "validate", multipart: true}) do |f| %>
            <div class="row">
                <div class="col-md-12">
                    <h4>Cập nhật thông tin</h4>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Họ & đệm</label>
                        <%= f.text_field :first_name, class: "form-control required" %>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Tên</label>
                        <%= f.text_field :last_name, class: "form-control required" %>
                    </div>
                </div>
            </div>
            <!-- End row -->

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <%= f.text_field :phone, class: "form-control required" %>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Ngày sinh <small>(dd/mm/yyyy)</small></label>
                        <%= f.text_field :birthdate, class: "form-control required" %>
                    </div>
                </div>
            </div>
            <!-- End row -->

            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h4>Cập nhật địa chỉ</h4>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <%= f.text_field :address, class: "form-control required" %>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Mã bưu chính (Zip Code)</label>
                        <%= f.text_field :zip, class: "form-control required" %>
                    </div>
                </div>
            </div>
            <!-- End row -->

            <hr>
            <h4>Cập nhật hình đại diện</h4>
            <div class="form-inline upload_1">
                <div class="form-group">
                    <input type="file" name="user[image]" id="js-upload-files" multiple>
                </div>
            </div>

            <hr>
            <button type="submit" class="btn_1 green">Cập nhật thông tin</button>
            <% end %>
        </section>
        <!-- End section 1 -->

        </div>
        <!-- End content -->
    </div>
    <!-- End tabs -->
</div>
<!-- end container -->