<section class="parallax-window" data-parallax="scroll" data-image-src="/frontend/img/admin_top.jpg" data-natural-width="1400" data-natural-height="470">
<div class="parallax-content-1">
    <div class="animated fadeInDown">
        <h1>Welcome, <%= current_user.display_name %></h1>
        <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
    </div>
</div>
</section>
<!-- End section -->

<div id="position">
<div class="container">
    <ul>
        <li><%= link_to "Trang Chủ", naturesoft_hotel_newdiscovery_vn.root_path %></li>
        <li>Tài khoản thành viên</li>
    </ul>
</div>
</div>
<!-- End Position -->

<div class="margin_60 container">
<div id="tabs" class="tabs">
    <%= render '/modules/nav_tabs_admin_area' %>
    <div class="content">
        <section id="section-1"></section>
        <section id="section-2" class="content-current">
			<% if current_user.hotels_orders.count > 0 %>
				<% current_user.hotels_orders.each do |item| %>
				<div class="strip_booking">
					<div class="row">
						<div class="col-md-2 col-sm-2">
							<div class="date">
								<span class="month"><%= item.created_at.strftime("%m") %></span>
								<span class="day"><strong><%= item.created_at.strftime("%d") %></strong><%= item.created_at.strftime("%Y") %></span>
							</div>
						</div>
						<div class="col-md-6 col-sm-5">
							<h3 class="hotel_booking">
								<strong><%= link_to item.hotel.name, naturesoft_hotels.hotel_detail_path(hotel_id: item.id, title: url_friendly(item.name)) %></strong>
								<span><%= item.adult %> người lớn - <%= item.child %> trẻ em.</span>
							</h3>
						</div>
						<div class="col-md-2 col-sm-3">
							<ul class="info_booking">
								<li><strong>Loại phòng</strong> <%= item.room.name %></li>
								<li><strong>Ngày nhận phòng</strong> <%= item.checkin.strftime("%d/%m/%y") %></li>
								<li><strong>Ngày trả phòng</strong> <%= item.checkout.strftime("%d/%m/%y") %></li>
							</ul>
						</div>
						<div class="col-md-2 col-sm-2">
							<div class="booking_buttons">
								<%= link_to "Xuất bản chi tiết", naturesoft_hotels.invoice_orders_path(order_id: item.id), class: "btn_2", target: "_blank" %>
							</div>
						</div>
					</div>
					<!-- End row -->
				</div>
				<!-- End strip booking -->
				<% end %>
			<% else %>
				<h3>Lịch sử đặt phòng hiện đang trống.</h3>
			<% end %>
        </section>
        <!-- End section 2 -->

        </div>
        <!-- End content -->
    </div>
    <!-- End tabs -->
</div>
<!-- end container -->