<section class="parallax-window" data-parallax="scroll" data-image-src="/frontend/img/admin_top.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>Welcome, <%= current_user.display_name %></h1>
            <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
        </div>
    </div>
</section>
<!-- End section -->

<div id="position">
    <div class="container">
        <ul>
            <li><%= link_to "Trang Chủ", naturesoft_hotel_newdiscovery_vn.root_path %></li>
            <li>Tài khoản thành viên</li>
        </ul>
    </div>
</div>
<!-- End Position -->
    
<div class="margin_60 container">
    <div id="tabs" class="tabs">
        <%= render '/modules/nav_tabs_admin_area' %>
        <div class="content">
            
            
                <section id="section-4" class="content-current">
                    <%= render "naturesoft/hotel_newdiscovery_vn/modules/flash_messages" %>
                    
                    <%= form_for(:user, url: settings_path, html: {class: "validate", multipart: true}) do |f| %>
                        <h4>Thay đổi mật khẩu</h4>
                        <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Mật khẩu cũ</label>
                                        <input class="form-control required" name="user[current_password]" id="current_password" type="password">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Mật khẩu mới</label>
                                        <input class="form-control" name="user[password]" id="password" type="password">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nhập lại mật khẩu mới</label>
                                        <input class="form-control" name="user[password_confirmation]" id="password_confirmation" type="password">
                                    </div>
                                </div>
                        </div>
                        <button type="submit" class="btn_1 green">Thay đổi mật khẩu</button>
                    <% end %>
                    
                    <br /><br /><br />
                    <!-- End row -->
                    
                    <h4>Cài đặt nhận tin mới</h4>
                    <%= form_for(:user, url: update_newsletter_path, html: {class: "validate", multipart: true}) do |f| %>
                        <div class="row">                        
                            <div class="col-md-6 col-sm-6">
                                <table class="table table-striped options_cart">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <i class="icon_set_1_icon-6"></i>
                                            </td>
                                            <td>Nhận tin mới của khách sạn yêu thích</td>
                                            <td>
                                                <!--< form_for(:user, url: settings_path, html: {class: "newsletter_enabled"}) do |f| %>-->
                                                <input type="hidden" name="user[newsletter_enabled]" value="false">
                                                <label class="switch-light switch-ios pull-right">
                                                    <input <%= "checked" if current_user.newsletter_enabled %> type="checkbox" value="true" name="user[newsletter_enabled]" id="option_2">
                                                    <span>
                                                        <span>Không</span>
                                                        <span>Có</span>
                                                    </span>
                                                    <a></a>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <button type="submit" class="btn_1 green">Lưu thay đổi</button>
                    <% end %>
                    <!-- End row -->
                    
                </section>
                <!-- End section 4 -->
            
        </div>
        <!-- End content -->
    </div>
    <!-- End tabs -->
</div>
<!-- end container -->