<section class="parallax-window" data-parallax="scroll" data-image-src="/frontend/img/admin_top.jpg" data-natural-width="1400" data-natural-height="470">
<div class="parallax-content-1">
    <div class="animated fadeInDown">
        <h1>Welcome, <%= current_user.display_name %></h1>
        <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
    </div>
</div>
</section>
<!-- End section -->

<div id="position">
<div class="container">
    <ul>
        <li><%= link_to "Trang Chủ", naturesoft_hotel_newdiscovery_vn.root_path %></li>
        <li>Tài khoản thành viên</li>
    </ul>
</div>
</div>
<!-- End Position -->

<div class="margin_60 container">
<div id="tabs" class="tabs">
    <%= render '/modules/nav_tabs_admin_area' %>
    <div class="content">
      
        <section id="section-3" class="content-current">
            <div class="row">
                <% @wish_list = Naturesoft::Hotels::WishList.all %>
                <% if @wish_list.count == 0 %>
                    <div class="col-md-4 col-sm-6">
                        <div>
                            Danh sách khách sạn yêu thích hiện đang trống.
                        </div>
                    </div>
                <% else %>
                    <% Naturesoft::Hotels::WishList.all.each do |item| %>
                    <div class="col-md-4 col-sm-6">
                        <div class="hotel_container">
                            <div class="img_container">
                                <a href="<%= naturesoft_hotels.hotel_detail_path(hotel_id: item.id, title: url_friendly(item.hotel.name)) %>">
                                    <% if item.hotel.hotel_images.count > 0 %>
                                        <%= image_tag(item.hotel.get_main_image.image.larger, size: "800x533", alt: "", class: "img-responsive") %>
                                    <% else %>
                                        <%= image_tag("/frontend/img/no-img.png", size: "800x533", alt: "", class: "img-responsive") %>
                                    <% end %>
                                    <div class="ribbon top_rated">
                                    </div>
                                    <div class="score">
                                        <span>7.5</span>Tốt
                                    </div>
                                    <div class="short_info hotel">
                                        Giá TB/đêm<span class="price"><%= format_number(item.hotel.from_per_night) %> VNĐ</span>
                                    </div>
                                </a>
                            </div>
                            <div class="hotel_title">
                                <h4><strong><%= link_to item.hotel.name, naturesoft_hotels.hotel_detail_path(hotel_id: item.id, title: url_friendly(item.hotel.name)), title: item.hotel.name %></strong></h4>
                                <div class="rating">
                                    <% (1..item.hotel.star).each do |item| %><i class="icon-star voted"></i><% end %>
                                </div>
                                <!-- end rating -->
                                <div>
                                    <%= form_tag(naturesoft_hotels.wish_list_path(item), method: :delete) do |f| %>
                                        <%= link_to '<div class="wishlist_close_admin">-<span class="tooltip-content-flip"><span class="tooltip-back">Hủy yêu thích khách sạn</span></span></div>'.html_safe,
                                            "#remove", {onclick: "$(this).parents('form').submit()", class: "tooltip-user tooltip_flip tooltip-effect-1"} %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <!-- End box tour -->
                    </div>
                    <!-- End col-md-6 -->
                    <% end %>
                <% end %>
            </div>
            <!-- End row -->
        </section>
        <!-- End section 3 -->

        </div>
        <!-- End content -->
    </div>
    <!-- End tabs -->
</div>
<!-- end container -->