<section class="parallax-window" data-parallax="scroll" data-image-src="/frontend/img/bg_blog.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>BLOG DU LỊCH</h1>
            <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
        </div>
    </div>
</section>
<!-- End section -->

<div id="position">
    <div class="container">
        <ul>
            <li><%= link_to "Trang Chủ", naturesoft_hotel_newdiscovery_vn.root_path %></li>
            <% menu = Naturesoft::Menus::Menu.get_by_type(["articles::listing"]).first %>
            <% if menu.present? %>
                <li class="active_menu" rel="<%= menu.id %>"><%= link_to menu.name, menu.url %></li>
            <% end %>
            <li><%= "Chi tiết" %></li>
        </ul>
    </div>
</div>
<!-- End position -->

<div class="container margin_60">
    <div class="row">

        <div class="col-md-9">
            <div class="box_style_1">
                <div class="post nopadding">
                    <%= image_tag(@article.image_url.lager, alt: "786x310", class: "img-responsive") %>
                    <div class="post_info clearfix">
                        <div class="post-left">
                            <ul>
                                <li><i class="icon-calendar-empty"></i> Đăng ngày <span><%= @article.created_at.strftime("%d/%m/%Y") %></span></li>
                            <li><i class="icon-inbox-alt"></i> Chuyên mục: <% @article.categories.each_with_index do |c,index| %><% if index == 0 %><%= c.name %><% end %><% if index > 0 %><%= ", " + c.name %><% end %><% end %></li>
                                <li><i class="icon-tags"></i> Nhãn:
                                <% if !@article.get_tags.empty? %>
                                    <% len = @article.get_tags.length %>
                                    <% @article.get_tags.each_with_index do |tag,i| %>
                                        <% if i+1==len %>
                                            <%= link_to(tag,'') %>
                                        <% else %>
                                            <%= link_to(tag,'') %>,
                                        <% end %>
                                    <% end %>
                                <% end %>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h2><%= @article.title %></h2>
                    <div class="text-justify">
                        <%= @article.content.html_safe %>
                    </div>
                </div>
                <!-- end post -->
            </div>
            <!-- end box_style_1 -->
        </div>
        <!-- End col-md-8-->

        <aside class="col-md-3 add_bottom_30">

            <%= render "/modules/blog_sidebar" %>

        </aside>
        <!-- End aside -->

    </div>
    <!-- End row-->
</div>
<!-- End container -->