<section class="parallax-window" data-parallax="scroll" data-image-src="<%= !@current_menu.nil? ? @current_menu.image.default : nil %>" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1><%= @current_menu.name %></h1>
            <p><%= @current_menu.description %></p>
        </div>
    </div>
</section>
<!-- End section -->

<div id="position">
    <div class="container">
        <ul>
            <li><%= link_to "Trang Chủ", naturesoft_hotel_newdiscovery_vn.root_path %></li>
            <li><%= @current_menu.name %></li>
        </ul>
    </div>
</div>
<!-- End position -->

<div class="container margin_60">
    <div class="row">

        <div class="col-md-9">
            <div class="box_style_1">
                <% @articles.each do |item| %>
                <div class="post">
                    <%= link_to image_tag(item.image_url.lager, alt: "786x310", class: "img-responsive"), naturesoft_articles.blog_detail_path(id: item.id, title: url_friendly(item.title)) %>
                    <div class="post_info clearfix">
                        <div class="post-left">
                            <ul>
                                <li><i class="icon-calendar-empty"></i> Đăng ngày <span><%= item.created_at.strftime("%d/%m/%Y") %></span></li>
                                <li><i class="icon-inbox-alt"></i> Chuyên mục: <% item.categories.each do |c| %><%= c.name %><% end %>
                                </li>
                                <li><i class="icon-tags"></i> Nhãn: <%= link_to "Đặt phòng khách sạn", "" %>, <%= link_to "Blog du lịch", "" %></li>
                            </ul>
                        </div>
                    </div>
                    <h2><%= item.title %></h2>
                    <div class="text-justify">
                        <%= item.content.html_safe %>
                    </div>
                    <%= link_to "Đọc tiếp", naturesoft_articles.blog_detail_path(id: item.id, title: url_friendly(item.title)), class: "btn_1" %>
                </div>
                <!-- end post -->

                <hr>
                <% end %>
            </div>
            <hr>

            <div class="text-center">
                <%= will_paginate @articles, previous_label: 'Trang trước', next_label: 'Trang sau', renderer: BootstrapPagination::Rails %>
                <!-- end pagination-->
            </div>
        </div>
        <!-- End col-md-8-->

        <aside class="col-md-3">

            <%= render "/modules/blog_sidebar" %>

        </aside>
        <!-- End aside -->

    </div>
    <!-- End row-->
</div>
<!-- End container -->