<!-- Slider -->
<div id="full-slider-wrapper">
    <div id="layerslider" style="width:100%;height:600px;">
        <!-- slide -->
        <%= position("hotel_newdiscovery_vn::home-slider") %>

    </div>
</div>
<!-- End layerslider -->

<div class="container margin_60">

    <%= position("hotel_newdiscovery_vn::top-hotel-by-label") %>

    <hr>
        
    <%= position("hotel_newdiscovery_vn::top-areas") %>

</div>
<!-- End container -->

<div class="white_bg">
    <div class="container margin_60">
        
        <%= position("hotel_newdiscovery_vn::facilities-list") %>
        
        <!-- End row -->

        <div class="banner colored">
            <%= position("hotel_newdiscovery_vn::home-banner") %>
            <!--<h4>The Grand Hồ Tràm Trip <span>gọi ngay 0919 515 059</span></h4>
            <p>Ưu đãi độc quyền tháng 9</p>
            <a href="#" class="btn_1 white">Đặt ngay</a>-->
        </div>
        <div class="row">
            <%= position("hotel_newdiscovery_vn::four-guide-boxes") %>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</div>
<!-- End white_bg -->

<section class="promo_full">
<div class="promo_full_wp magnific">
    <div>
        <h3>Video giới thiệu</h3>
        <p>
            Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
        </p>
        <a href="https://www.youtube.com/watch?v=Zz5cu72Gv5Y" class="video"><i class="icon-play-circled2-1"></i></a>
    </div>
</div>
</section><!-- End section -->

<div class="container margin_60">

    <div class="row">
        <%= position("hotel_newdiscovery_vn::booking-guide") %>
    </div>
    <!-- End row -->

</div>
<!-- End container -->