<!-- Slider -->
<div id="full-slider-wrapper">
    <div id="layerslider" style="width:100%;height:600px;">
        <!-- slide -->
        <%= position("hotel_newdiscovery_vn::home-slider") %>

    </div>
</div>
<!-- End layerslider -->

<div class="container margin_60">

    <div class="main_title">
        <h2>Khách sạn <span>yêu thích</span> nhất</h2>
        <p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
    </div>

    <div class="row">
        
        <% (0..5).each do |iem| %>
        <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
            <div class="tour_container">
                <div class="img_container">
                    <a href="<%= naturesoft_hotels.hotel_detail_path %>">
                        <%= image_tag("/frontend/img/hotel_1.jpg", size: "800x533", alt: "", class: "img-responsive") %>
                        <div class="ribbon top_rated"></div>
                        <div class="short_info hotel">
                            Giá/Đêm<span class="price">10,000,000 VNĐ</span>
                        </div>
                    </a>
                </div>
                <div class="tour_title">
                    <h3><strong><%= link_to "Tên khách sạn", naturesoft_hotels.hotel_detail_path %></strong></h3>
                    <div class="rating">
                        <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i><small>(75)</small>
                    </div>
                    <!-- end rating -->
                    <div class="wishlist">
                        <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Yêu thích khách sạn</span></span></a>
                    </div>
                    <!-- End wish list-->
                </div>
            </div>
            <!-- End box tour -->
        </div>
        <!-- End col-md-4 -->
        <% end %>

    </div>
    <!-- End row -->
    <p class="text-center add_bottom_30">
        <%= link_to '<i class="icon-eye-7"></i>XEM THÊM (144) '.html_safe, "", class: "btn_1 medium" %>
    </p>

    <hr>
        
    <%= position("hotel_newdiscovery_vn::top-areas") %>

    <!-- End row -->
    <p class="text-center">
        <%= link_to '<i class="icon-eye-7"></i>XEM THÊM (144) '.html_safe, "", class: "btn_1 medium" %>
    </p>
</div>
<!-- End container -->

<div class="white_bg">
    <div class="container margin_60">
        
        <%= position("hotel_newdiscovery_vn::facilities-list") %>
        
        <!-- End row -->

        <div class="banner colored">
            <%= position("hotel_newdiscovery_vn::home-banner") %>
            <!--<h4>The Grand Hồ Tràm Trip <span>gọi ngay 0919 515 059</span></h4>
            <p>Ưu đãi độc quyền tháng 9</p>
            <a href="#" class="btn_1 white">Đặt ngay</a>-->
        </div>
        <div class="row">
            <%= position("hotel_newdiscovery_vn::four-guide-boxes") %>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</div>
<!-- End white_bg -->

<section class="promo_full">
<div class="promo_full_wp magnific">
    <div>
        <h3>Video giới thiệu</h3>
        <p>
            Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
        </p>
        <a href="https://www.youtube.com/watch?v=Zz5cu72Gv5Y" class="video"><i class="icon-play-circled2-1"></i></a>
    </div>
</div>
</section><!-- End section -->

<div class="container margin_60">

    <div class="row">
        <%= position("hotel_newdiscovery_vn::booking-guide") %>
        <!--<div class="col-md-8 col-sm-6 hidden-xs">
            <img class="img-responsive laptop" src="/frontend/img/laptop.png" alt="Laptop" />
        </div>
        <div class="col-md-4 col-sm-6">
        <h3>Các bước đặt phòng khách sạn</h3>
        <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.</p>
        <ul class="list_order">
            <li><span>1</span>Select your preferred tours</li>
            <li><span>2</span>Purchase tickets and options</li>
            <li><span>3</span>Pick them directly from your office</li>
        </ul>
        <a class="btn_1">Xem chi tiết</a></div>-->
    </div>
    <!-- End row -->

</div>
<!-- End container -->