<hr>

<div class="related-items">
    <div class="normal-title">
        <h3><%= nsmodule.name %></h3>
    </div>
    <br/>
    <div class="row">
        <% hotels.each do |item| %>
        <div class="shop-item col-lg-4 col-md-6 col-sm-6">
            <div class="inner-box">
                <div class="image-box">
                    <figure class="image">
                        <a href="<%= naturesoft_hotels.hotel_detail_path(hotel_id: item.id, title: url_friendly(item.name)) %>">
                            <% if item.hotel_images.count > 0 %>
                                <%= image_tag(item.get_main_image.image.larger, size: "800x533", alt: "", class: "img-responsive") %>
                            <% else %>
                                <%= image_tag("/frontend/img/no-img.png", size: "800x533", alt: "", class: "img-responsive") %>
                            <% end %>
                        </a>
                    </figure>
                    <% if current_user.present? %>
                        <% if Naturesoft::Hotels::WishList.check_present(item.id, current_user).count == 0 %>
                            <div class="wishlist">
                                <%= link_to '+<span class="tooltip-content-flip"><span class="tooltip-back">Yêu thích khách sạn</span></span>'.html_safe, naturesoft_hotels.add_item_wish_lists_path(hotel_id: item.id, user_id: current_user.id), class: "tooltip_flip tooltip-effect-1" %>
                            </div>
                        <% else %>
                            <div class="wishlist hotel-loved">
                            <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Đã yêu thích khách sạn</span></span></a>
                            </div>
                        <% end %>
                    <% else %>
                        <div class="wishlist">
                            <%= link_to '+<span class="tooltip-content-flip"><span class="tooltip-back">Bạn chưa đăng nhập</span></span>'.html_safe, naturesoft.new_user_session_path, class: "tooltip_flip tooltip-effect-1" %>
                        </div>
                    <% end %>
                </div>
                <div class="product_description">
                    <div class="rating">
                        <% (1..item.star).each do |item| %><i class="icon-star voted"></i><% end %>
                    </div>
                    <h3><%= link_to item.name, naturesoft_hotels.hotel_detail_path(hotel_id: item.id, title: url_friendly(item.name)), title: item.name %></h3>
                    Giá/Đêm <span class="price"><%= format_number(item.from_per_night) %> VNĐ</span>
                </div>
            </div>
        </div><!--End Shop Item-->
        <% end %>
        
    </div>
</div><!--End Related products-->