<i class="icon_set_1_icon-57"></i>
<h4><span><%= nsmodule.name %></span></h4>
<% if contact_info.present? %>
    <a href="tel:<%= contact_info.hotline_1 %>" class="phone"><%= contact_info.hotline_1 %></a>
    <a href="tel:<%= contact_info.hotline_2 %>" class="phone"><%= contact_info.hotline_2 %></a>
    <% contact_info.get_working_times.each do |item| %>
        <small><%= item %></small><br>
    <% end %>
<% end %>