Xin chào <%= @email_to %>
<p>Bạn vừa nhận được một yêu cầu đăng ký khuyến mãi vào lúc <%= @event_order.created_at.in_time_zone("Asia/Bangkok").strftime("%d/%m/%Y %H:%M") %> (GMT+07:00).</p>
<p>Thông tin đăng ký khuyến mãi:</p>
<p>
    Tên khách hàng: <%= @event_order.first_name %> <%= @event_order.last_name %><br/>
    Email: <%= @event_order.email %><br/>
    Số di động: <%= @event_order.phone %><br/>
    Tên khuyến mãi/sự kiện: <%= @event_order.event_name %><br/>
    Giá khuyến mai/sự kiện: <%= @event_order.event_price %><br/>
    Số lượng phòng: <%= @event_order.number %><br/>
    Ngày nhận phòng: <%= @event_order.checkin %><br/>
    Ngày trả phòng: <%= @event_order.checkout %><br/>
    Ngày gửi yêu cầu: <%= @event_order.created_at.in_time_zone("Asia/Bangkok").strftime("%d/%m/%Y %H:%M") %>
</p>
<p>Vui lòng liên hệ với họ để xác nhận thông tin đặt phòng.</p>
<p>Cám ơn,</p>