<div class="main_title">
    <h2><%= nsmodule.name.html_safe %></h2>
    <p><%= options["description"] %></p>
</div>
<div class="row add_bottom_45">
    <div class="col-md-4 other_tours">
        <ul>
            <% facilities.each_with_index do |item,index| %>
                <% if index%3==0 %>
                    <li><a href="<%= menus.url %>?facility_ids=<%= item.id %>"><i class="<%= item.code %>"></i><%= item.name %><span class="other_tours_price">(<%= item.hotels.count %>)</span></a></li>
                <% end %>
            <% end %>
        </ul>
    </div>
    <div class="col-md-4 other_tours">
        <ul>
            <% facilities.each_with_index do |item,index| %>
                <% if index%3==2 %>
                    <li><a href="<%= menus.url %>?facility_ids=<%= item.id %>"><i class="<%= item.code %>"></i><%= item.name %><span class="other_tours_price">(<%= item.hotels.count %>)</span></a></li>
                <% end %>
            <% end %>
        </ul>
    </div>
    <div class="col-md-4 other_tours">
        <ul>
            <% facilities.each_with_index do |item,index| %>
                <% if index%3==1 %>
                    <li><a href="<%= menus.url %>?facility_ids=<%= item.id %>"><i class="<%= item.code %>"></i><%= item.name %><span class="other_tours_price">(<%= item.hotels.count %>)</span></a></li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>