<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Citytours - Premium site template for city tours agencies, transfers and tickets.">
    <meta name="author" content="Ansonika">
    <title>CITY TOURS - City tours and travel site template by Ansonika</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/frontend/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/frontend/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/frontend/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/frontend/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/frontend/img/apple-touch-icon-144x144-precomposed.png">

    <!-- BASE CSS -->
    <%= stylesheet_link_tag "/frontend/css/base.css" %>
    
    <% if["naturesoft/hotel_newdiscovery_vn/home"].include?(params[:controller]) %>
    <!-- REVOLUTION SLIDER CSS -->
    <%= stylesheet_link_tag "/frontend/layerslider/css/layerslider.css" %>
    <% end %>
    <% if params[:controller] == 'naturesoft/articles/articles' && (params[:action] == 'listing' || params[:action] == 'detail') %>
    <!-- CSS -->
    <%= stylesheet_link_tag "/frontend/css/blog.css" %>
    <% end %>
    <% if params[:controller] == 'naturesoft/articles/articles' && params[:action] == 'faq' %>
    <!-- CSS -->
    <%= stylesheet_link_tag "/frontend/css/skins/square/grey.css" %>
    <% end %>
    <% if params[:controller] == 'naturesoft/users' && params[:action] == 'admin_area' %>
    <!-- SPECIFIC CSS -->
    <%= stylesheet_link_tag "/frontend/css/admin.css" %>
    <%= stylesheet_link_tag "/frontend/css/jquery.switch.css" %>
    <% end %>
    <% if params[:controller] == 'naturesoft/hotels/hotels' && (params[:action] == 'hotels_grid' || params[:action] == 'hotels_list') %>
    <!-- Radio and check inputs -->
    <%= stylesheet_link_tag "/frontend/css/skins/square/grey.css" %>
    
    <!-- Range slider -->
    <%= stylesheet_link_tag "/frontend/css/ion.rangeSlider.css" %>
    <%= stylesheet_link_tag "/frontend/css/ion.rangeSlider.skinFlat.css" %>
    <% end %>
    <% if params[:controller] == 'naturesoft/hotels/hotels' && params[:action] == 'detail' %>
    <!-- CSS -->
    <%= stylesheet_link_tag "/frontend/css/slider-pro.min.css" %>
    <%= stylesheet_link_tag "/frontend/css/date_time_picker.css" %>
    <%= stylesheet_link_tag "/frontend/css/owl.carousel.css" %>
    <%= stylesheet_link_tag "/frontend/css/owl.theme.css" %>
    <% end %>
  
    <!-- Google web fonts -->
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Montserrat:400,700" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Gochi+Hand" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400" %>
    
    <!--[if lt IE 9]>
      <%= javascript_include_tag "/frontend/js/html5shiv.min.js" %>
      <%= javascript_include_tag "/frontend/js/respond.min.js" %>
    <![endif]-->

</head>

<body>

    <!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->

    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

    <!-- Header================================================== -->
    <header>
        <%= render "/modules/header_top_line" %>
        <!-- End top line-->

        <%= render "/modules/header_container" %>
        <!-- container -->
    </header>
    <!-- End Header -->

    <%= yield %>

    <%= render "/modules/footer" %>
    <!-- End footer -->
    
    <% if params[:controller] == 'naturesoft/hotels/hotels' && params[:action] == 'detail' %>
      <%= render "/modules/hotel_overlay" %>
      <%= render "/modules/hotel_leave_review" %>
    <% end %>

    <div id="toTop"></div>
    <!-- Back to top button -->
    
    <%= render "/modules/common_scripts" %>

    <%= render "/modules/specific_scripts" %>
    
    <% if["naturesoft/hotel_newdiscovery_vn/home"].include?(params[:controller]) %>
    <%= render "/modules/layerslider_script" %>
    <% end %>

    <%= render "/modules/custom_script" %>
</body>

</html>