<section class="parallax-window" data-parallax="scroll" data-image-src="<%= !@current_menu.nil? ? @current_menu.image.default : nil %>" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1><%= @current_menu.name %></h1>
            <p><%= @current_menu.description %></p>
        </div>
    </div>
</section>
<!-- End Section -->

<div id="position">
    <div class="container">
        <ul>
            <li><%= link_to "Trang Chủ", naturesoft_hotel_newdiscovery_vn.root_path %></li>
            <li><%= @current_menu.name %></li>
        </ul>
    </div>
</div>
<!-- End Position -->

<div class="container margin_60">
    <% @galleries.order("custom_order ASC").each do |item| %>
    <div class="main_title">
        <h2><%= item.name %></h2>
        <p>
            <%= item.description %>
        </p>
    </div>
    <hr>
    <div class="row magnific-gallery add_bottom_60 ">
        <% item.images.order("custom_order ASC").each do |img| %>
            <div class="col-md-3 col-sm-3">
                <div class="img_wrapper_gallery">
                    <div class="img_container_gallery">
                        <a href="<%= img.image %>" title="<%= img.name %>"><img src="<%= img.image.thumb %>" alt="Image" class="img-responsive">
                            <i class="icon-resize-full-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <!-- End row -->
    <% end %>

</div>
<!-- End container -->