<section id="hero" class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div id="login">
                    <div class="text-center"><img src="/frontend/img/logo_sticky.png" alt="Image" data-retina="true"></div>
                    <hr>
                    <% if devise_error_messages!.present? %><div class="alert alert-danger" id="register"><%= devise_error_messages! %></div><% end %>
                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "validate", method: :put }) do |f| %>
                        <%= f.hidden_field :reset_password_token %>
                        <p>Thay đổi mật khẩu</p>
                        <div class="form-group">
                            <label>Mật khẩu mới</label>
                            <% if @minimum_password_length %>
                              <em>(ít nhất <%= @minimum_password_length %> ký tự)</em><br />
                            <% end %>
                            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control required", id: "password", placeholder: "Nhập mật khẩu mới..." %>
                        </div>
                        <div class="form-group">
                            <label>Xác nhận lại mật khẩu</label>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control required", placeholder: "Nhập lại mật khẩu..." %>
                        </div>
                        <%= f.submit "Thay đổi mật khẩu", class: "btn_full" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>