<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <%= position("hotel_newdiscovery_vn::footer-box-col-1") %>
            </div>
            <div class="col-md-4 col-sm-4">
                <%= position("hotel_newdiscovery_vn::footer-box-col-2") %>
                <!--<h3>Du Lịch Khám Phá Mới</h3>-->
                <!--<ul>-->
                <!--    <li><%= link_to "Về chúng tôi", naturesoft_hotel_newdiscovery_vn.about_us_path %></li>-->
                <!--    <li><%= link_to "Hướng dẫn đặt phòng", naturesoft_articles.faq_path(faq_id: "book_guide") %></li>-->
                <!--    <li><%= link_to "Blog du lịch", naturesoft_articles.listing_path %></li>-->
                <!--    <li><a href="">Đăng ký nhận voucher</a></li>-->
                <!--    <li><%= link_to "Câu hỏi thường gặp", naturesoft_articles.faq_path(faq_id: "question") %></li>-->
                <!--    <li><%= link_to "Chăm sóc khách hàng", naturesoft_articles.faq_path(faq_id: "customer") %></li>-->
                <!--</ul>-->
            </div>
            <div class="col-md-3 col-sm-3" id="newsletter">
                <%= position("hotel_newdiscovery_vn::footer-box-col-3") %>
                <br>
                <!--<%= link_to image_tag("/frontend/img/registered.png", width: "220px", alt: ""), "#registered" %>-->
            </div>
        </div><!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <%= position("hotel_newdiscovery_vn::social-footer") %>
                    </ul>
                    <p><%= position("hotel_newdiscovery_vn::copyright-info") %></p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer>
