<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <div id="logo_home">
                <h1><%= link_to "City Tours travel template", naturesoft_hotel_newdiscovery_vn.root_path, title: "City tours travel template" %></h1>
            </div>
        </div>
        <nav class="col-md-9 col-sm-9 col-xs-9">
            <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Mục Lục Trên Di Động</span></a>
            <div class="main-menu">
                <div id="header_menu">
                    <img src="/frontend/img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">
                </div>
                <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                <ul>
                    <li><%= link_to "Trang Chủ", naturesoft_hotel_newdiscovery_vn.root_path %></li>
                    <li><%= link_to "Về Chúng Tôi", naturesoft_articles.about_us_path %></li>
                    <li class="submenu">
                        <a href="javascript:void(0);" class="show-submenu">Khách sạn <i class="icon-down-open-mini"></i></a>
                        <ul>
                            <li><%= link_to "Danh sách khách sạn", naturesoft_hotels.hotels_grid_path %></li>
                            <li><a href="">Khách sạn theo địa điểm</a></li>
                            <li><a href="">Khách sạn theo dịch vụ</a></li>
                            <li><a href="">Khách sạn theo khu vực</a></li>
                            <li><a href="">Khách sạn theo loại</a></li>
                            <li><a href="">Khách sạn có khuyến mãi</a></li>
                            <li><a href="">Khách sạn theo sao</a></li>
                        </ul>
                    </li>
                    <li><a href="">Khuyến Mãi</a></li>
                    <li><%= link_to "Blog Du Lịch", naturesoft_articles.listing_path %></li>
                    <li><a href="">Voucher</a></li>
                    <li><%= link_to "Liên Hệ", naturesoft_contacts.contacts_path %></li>
                </ul>
            </div>
            <!-- End main-menu -->
            <ul id="top_tools">
                <li>
                    <div class="dropdown dropdown-search">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></a>
                        <div class="dropdown-menu">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Tìm khách sạn...">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" style="margin-left:0;">
                                    <i class="icon-search"></i>
                                    </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>