<!-- Modal Review -->
<div class="modal fade" id="myReview" tabindex="-1" role="dialog" aria-labelledby="myReviewLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myReviewLabel">Viết đánh giá</h4>
			</div>
			<div class="modal-body">
				<div id="message-review">
				</div>
				<%= form_for @review, html: {class: "review_validate"} do |f| %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.hidden_field :hotel_id, value: @detail.id %>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<%= f.text_field :first_name, class: "form-control required", value: current_user.first_name, placeholder: "Nhập họ tại đây (*)..." %>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<%= f.text_field :last_name, class: "form-control required", value: current_user.last_name, placeholder: "Nhập tên tại đây (*)..." %>
							</div>
						</div>
					</div>
					<!-- End row -->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<%= f.text_field :email, class: "form-control required", value: current_user.email, placeholder: "Nhập email tại đây (*)..." %>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<%= f.text_field :phone, class: "form-control required", value: current_user.phone, placeholder: "Nhập phone tại đây (*)..." %>
							</div>
						</div>
					</div>
					<!-- End row -->
					<hr>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Đánh giá</label>
								<select class="form-control" name="review[rate]" id="review_rate">
									<option value="">Chọn mức đánh giá</option>
									<option value="5">Tuyệt vời</option>
									<option value="4">Rất tốt</option>
									<option value="3">Tốt</option>
									<option value="2">Tạm chấp nhận</option>
									<option value="1">Không tốt lắm</option>
								</select>
							</div>
						</div>
					</div>
					<!-- End row -->
					<div class="form-group">
						<textarea class="form-control required" style="height:100px" name="review[content]" id="review_content" placeholder="Viết nội dung đánh giá tại đây (*)..."></textarea>
					</div>
					<input type="submit" value="Đánh giá" class="btn_1">
				<% end %>
			</div>
		</div>
	</div>
</div><!-- End modal review -->